<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>recruiter created!</title>
</head>
<body>
    <h1>Welcome to ShamelessRecruiter</h1>
    <h2>Have you received meaningless recruiter emails?</h2>
    <h2>Share them and contribute the creation of a worldwide blacklist.</h2>

    <form action="subscribe.html" th:attr="action=@{/create}" th:object="${reportRecruiterForm}" method="post">
        <h3>I got shameless recruiting from:</h3>
        <fieldset>
            <label for="name">name:</label>
            <input th:field="*{name}" type="text" id="name" name="name" />
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name invalid</span>

            <hr/>

            <label for="email">email:</label>
            <input th:field="*{email}" type="text" id="email" name="email" />
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email invalid</span>

            <hr/>

            <label for="message">message:</label>
            <textarea th:field="*{message}" id="message" name="message"></textarea>
            <small>(copy paste the recruiter message)</small>
            <span th:if="${#fields.hasErrors('message')}" th:errors="*{message}">Message invalid</span>

            <hr/>

            <input id="submitReport" type="submit" value="Report it now"/>
        </fieldset>
    </form>

    <ul th:each="recruiter: ${recruiterList}">
        <li th:text="${recruiter.email}">Oranges</li>
    </ul>
</body>
</html>